.finger2-2-icon4 {
  position: absolute;
  top: -47px;
  left: -41px;
  width: 1701px;
  height: 1092px;
  object-fit: cover;
}
.recognition2 {
  position: absolute;
  top: 74px;
  left: 53px;
  display: inline-block;
  width: 379px;
  height: 55px;
}
.face-detection-child {
  position: absolute;
  top: 178px;
  left: -30px;
  width: 1680px;
  height: 5px;
  object-fit: cover;
}
.face-detection-item {
  position: absolute;
  top: 267px;
  left: 135px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  width: 1448px;
  height: 698px;
  opacity: 0.5;
}
.follow-the-procedure {
  margin: 0;
}
.follow-the-procedure-container {
  position: absolute;
  top: 850px;
  left: 268px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 1083px;
  height: 115px;
}
.reorder-icon5 {
  position: absolute;
  top: 67px;
  left: 1534px;
  width: 56px;
  height: 69px;
  overflow: hidden;
  object-fit: cover;
}
.face-detection-inner {
  position: absolute;
  top: 323px;
  left: 346px;
  width: 928px;
  height: 485px;
  object-fit: cover;
}
.face-detection1 {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url("./public/history@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-copse);
}
