.finger2-2-icon8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1701px;
  height: 1092px;
  object-fit: cover;
}
.emblem-of-india-1-icon1 {
  position: absolute;
  top: 48px;
  left: 1339px;
  width: 96px;
  height: 129px;
  overflow: hidden;
}
.khoya-paaya3 {
  position: absolute;
  top: 70px;
  left: 260px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  display: inline-block;
  width: 969px;
  height: 85px;
}
.ngo-child {
  position: absolute;
  top: 29px;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-steelblue-100);
  width: 166px;
  height: 134px;
  opacity: 0.5;
}
.logo3 {
  position: absolute;
  top: 67px;
  left: 48px;
  color: var(--color-black);
  display: inline-block;
  width: 110px;
  height: 65px;
}
.ngo-item {
  position: absolute;
  top: 278px;
  left: 0px;
  width: 1660px;
  height: 9px;
}
.about-us1 {
  position: absolute;
  top: 227px;
  left: 241px;
  display: inline-block;
  width: 184px;
  height: 55px;
}
.contact-us3 {
  position: absolute;
  top: 227px;
  left: 1360px;
  display: inline-block;
  width: 199px;
  height: 55px;
}
.procedure1 {
  position: absolute;
  top: 227px;
  left: 512px;
  display: inline-block;
  width: 194px;
  height: 55px;
}
.recognition7 {
  position: absolute;
  top: 227px;
  left: 809px;
  display: inline-block;
  width: 230px;
  height: 55px;
}
.ngo2 {
  position: absolute;
  top: 227px;
  left: 1155px;
  color: var(--color-white);
  display: inline-block;
  width: 184px;
  height: 55px;
}
.ngo-inner {
  position: absolute;
  top: 43px;
  left: 1494px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  width: 150px;
  height: 69px;
  opacity: 0.6;
}
.log-in1 {
  position: absolute;
  top: 50px;
  left: 1508px;
  color: var(--color-white);
  display: inline-block;
  width: 199px;
  height: 55px;
}
.home-icon1 {
  position: absolute;
  top: 201px;
  left: 62px;
  width: 83px;
  height: 81px;
  overflow: hidden;
}
.ngo1 {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url("./public/history@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-steelblue-100);
  font-family: var(--font-copse);
}
