.finger2-2-icon6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1701px;
  height: 1092px;
  object-fit: cover;
}
.recognition4 {
  position: absolute;
  top: 74px;
  left: 53px;
  display: inline-block;
  width: 379px;
  height: 55px;
}
.line-icon {
  position: absolute;
  top: 174px;
  left: 0px;
  width: 1650px;
  height: 9px;
}
.recognition-page-child1 {
  position: absolute;
  top: 267px;
  left: 135px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  width: 538px;
  height: 698px;
  opacity: 0.5;
}
.fingerprint-icon1 {
  position: absolute;
  top: 481px;
  left: 280px;
  width: 248px;
  height: 270px;
  overflow: hidden;
}
.recognition-page-child2 {
  position: absolute;
  top: 267px;
  left: 996px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  width: 538px;
  height: 698px;
  opacity: 0.5;
}
.recognition-page-child3 {
  position: absolute;
  top: 835px;
  left: 1184px;
  border-radius: var(--br-xl);
  width: 161px;
  height: 57px;
}
.select2 {
  position: absolute;
  top: 829px;
  left: 1217px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-corben);
  color: var(--color-steelblue-100);
  display: inline-block;
  width: 201px;
  height: 70px;
}
.insert-emoticon1 {
  position: absolute;
  top: 481px;
  left: 1093px;
  width: 343px;
  height: 321px;
  overflow: hidden;
}
.face1 {
  margin: 0;
}
.face-detection2 {
  position: absolute;
  top: 301px;
  left: 1151px;
  white-space: pre-wrap;
  display: inline-block;
  width: 509px;
  height: 76px;
}
.reorder-icon7 {
  position: absolute;
  top: 67px;
  left: 1534px;
  width: 56px;
  height: 69px;
  overflow: hidden;
}
.fingerprint-recognition1 {
  position: absolute;
  top: 301px;
  left: 257px;
  display: inline-block;
  width: 509px;
  height: 76px;
}
.recognition-page-child4 {
  position: absolute;
  top: 835px;
  left: 323px;
  border-radius: var(--br-xl);
  width: 161px;
  height: 57px;
}
.select3 {
  position: absolute;
  top: 829px;
  left: 357px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-corben);
  color: var(--color-steelblue-100);
  display: inline-block;
  width: 201px;
  height: 70px;
}
.recognition-page1 {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url("./public/history@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-copse);
}
